*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    transition: color 0.2s;
}
a:hover{
    color: #ff4a52;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
li{
    list-style-type: none;
    cursor: pointer;
    transition: 0.2s color
}
li:hover{
    color: #ff4a52;
}
.d-flex{
    display: flex !important;
}
ul{
    margin: 0px;
    padding: 0px;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.row{
    display: flex !important;
    width: 100%;
}
.font-15{
    font-size: 15px;
}
header{
    background-color: #ffff;
    justify-content: space-around;
    padding: 20px 0px;
    height: 60px;
    align-items: center;
}
.drop-down-menu{
    display: none;
}
nav ul li{
    margin-right: 30px;
}
.header-icon a{
    margin-right: 10px;
}
.slider{
    background: url("../images/banner2.png");
    height: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-text{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vw;
}
.slider-text h3{
    font-family: cursive;
    font-size: 8vw;
    color: white;
    font-weight: 400;
}
.slider-text p{
    font-size: 2.5vw;
    color: white;
    font-weight: 400;
}
.slider-btn{
    background-color: #1ec6b6;
    color: white;
    font-family: sans-serif;
    font-size: 1.7vw;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: 0.5s;
}
.slider-btn:hover{
    background-color: #ff4a52;
    color: white !important;
}
.search-bar{
    background-color: #040E27;
    padding: 50px;
    align-items: center;
    flex-direction: column;
}
.search-bar h3{
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}
.search-form{
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.search-form input{
    background-color: transparent;
    outline: none;
    border: 1px solid #363E52;
    border-radius: 5px;
    margin: 10px;
    padding: 17px 50px;
    color: white;
}

.search-btn{
    background-color: #FF4A52;
    color: white;
    padding: 17px 39px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #1ec6b6;  
}

/* Picture and Info */
.popular-container{
    justify-content: center;
    flex-wrap: wrap;
}
.popular-container article{
    position: relative;
    margin: 20px 25px;
    transition: transform .3s;
    cursor: pointer;
}
 article:hover{
    transform: translateY(-10px);
}
article img{
    margin-bottom: 20px;
    height: 280px;
}
.popular-image-info{
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 10000;
}
.popular-container article:before {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);

    content: '';
    width: 100%;
    height: 92.4%;
    z-index: 1000;
    border-radius: 5px;
}
.popular-image-info p {
        font-size: 22px;
        color: white;
        font-weight: 400;
        transition: 0.3s;
}
.popular-image-info a {
    background-color: #1EC6B6;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 7px 12px;
    color: #fff;
    margin-left: 10px;
}
.popular-container article:hover .popular-image-info a{
    background-color:#ff4a52;
}
.popular-container article:hover .popular-image-info p{
    color: #ff4a52;
}
.popular-heading{
    align-items: center;
    margin: 100px 0px;
    flex-direction: column;
}
.popular-heading h3{
    font-size: 40px;
    font-weight: 400;
    color: #040E27;
    margin: 10px;
}
.popular-heading p{
    font-size: 16px;
    color: #7A838B;
    line-height: 30px;
    font-weight: 400;
}
.newsletter{
    background-image: url("../images/newsletter.png");
    height: 270px;
    background-position: 60%;
    background-size: cover;
    position: relative;
}
.newsletter-container{
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
.newsletter-text{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.newsletter::before{
    position: absolute;
    background-color: #040e27;
    top: 0;
    right: 0;
    content: " ";
    width: 100%;
    height: 100%;
    opacity: .7;
}
.newsletter-text h4{
    font-size: 24px;
    font-weight: 400;
    color: white;
    margin: 10px 0px;
}
.newsletter-text p{
    color: #91B1B7;
    margin-bottom: 20PX;
    font-size: 15px;
}
.mail-form{
    display: flex;
    flex-direction: column;
    margin: 15px 0px 10px 0px ;
}
.mail-form input[type=email]{
    background-color: white;
    padding: 0px 30px;
    border: 0;
    font-size: 15px;
    width: 40vw;
    height: 50px;
    color: black;
    outline: 0;
    border-radius: 5px;
}
.mail-form button{
    background-color: #FF4A52;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 16px 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.video{
    background-image: url(../images/video.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    padding: 130px 0;
    margin: 15px 0;
    width: 100%;
    position: relative;
}

.video::before{
    position: absolute;
    left: 0;
    top: 0;
    background-color:#040e27;
    content: "";
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: 1;
}
.video-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
.video-container h3{
    font-weight: 400;
    font-size: 6vw;
    color: white;
    margin-bottom: 30px;
    font-family: cursive;
}
.video-button{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #1EC6B6;
    justify-content: center;
    align-items: center;
    transition: background .5s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.video-button a{
    color: white;
    z-index: 55;
}
footer{
    background-color: #040E27;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
.footer-left{
    width: 33.3%;
    color: white;
}
.footer-right h3 , .footer-center h3{
    color: white;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-right ul li , .footer-center ul li{
    margin-top: 8px;
    font-size: 16px;
}
.mobile-footer{
    display: flex;
}
.footer-center{
    margin-right: 50px;
}